{% load static %}
<html>
<head>
    <title> HaGa Live Studio </title>
</head>
<body>
<header>
    <div class=nav-left>
	<h1>
	    <!-- hypertext reference, relation -->
	    <a href = {% url 'home' %}> HaGa Django Blog </a>
	    <!--
	    <link href='css/base.css'{% now "U" %} rel=stylesheet>
	    <link href={% static 'css/base.css' %} rel=stylesheet>
	    -->
	    <link rel="stylesheet" type="text/css" href='{% static '/css/base.css' %}?{% now "U" %}'>
	</h1> 
    </div>

    <div>
	<a href = {% url 'post_new' %}> New Blog Post </a>
    </div>
</header>

{% if user.is_authenticated %}
    <p> Hi {{ user.username }} ! </p>
{% else %}
    <p> You are not logged in ! </p>
    <a href = {% url 'login' %}> Log In </a>
<!-- unclosed tag on line 30: 'if'. Looking for one of: endif --> 
{% endif%}

<!-- insert home.html here-->
{% block content %}

{% endblock content %}

</body>
</html>
